<!-- localize_and_navigate_combined_map_short.launch -->
<launch>

  <param name="map_name" value="/navigation_map" />
  <param name="camera_inverted" type="bool" value="false" />

  <arg name="patrol" default="false" />

  <param name="alpha1" value="0.05"/>
  <param name="alpha2" value="0.2"/>
  <param name="alpha3" value="0.1"/>
  <param name="alpha4" value="0.05"/>
  <param name="z_hit"  value="0.90"/>
  <param name="z_rand" value="0.10"/>
  <param name="sigma_hit" value="0.15"/>

  <param name="cruising_velocity" value="0.40"/>

  <param name="kpx" value="1.8"/>
  <param name="kpy" value="1.8"/>
  <param name="kdx" value="1.8"/>
  <param name="kdy" value="1.8"/>

  <arg name="social" default="false"/>
  <param name="use_social_astar" value="$(arg social)"/>

  <!-- Planning radius from robot center (m); navigator doubles for footprint collision checks. -->
  <arg name="robot_clearance" default="0.4"/>

  <!-- Launch the occupancy grid mapper -->
  <node name="occupancy_grid_node" pkg="mattbot_navigation" type="occupancy_grid_mapper.py" output="screen">

  </node>

  <node name="navigator_node" pkg="mattbot_navigation" type="localize_and_navigate.py" output="screen">
    <param name="stall_detection_enabled" value="true"/>
    <param name="stall_cmd_vel_threshold" value="0.08"/>
    <param name="stall_odom_displacement_m" value="0.03"/>
    <param name="stall_window_sec" value="0.5"/>
    <param name="backing_duration_sec" value="1.0"/>
    <param name="relocalize_duration_sec" value="5.0"/>
    <param name="track_stall_grace_sec" value="1.0"/>
    <param name="nearest_free_search_radius" value="1.0"/>
    <param name="robot_clearance" value="$(arg robot_clearance)"/>
  </node>

  <!-- Launch the patrol.py script only if patrol is true -->
  <node name="patrol_node" pkg="mattbot_navigation" type="patrol.py" output="screen" if="$(arg patrol)">
  </node>


</launch>
