<!-- Same as localize_and_navigate_combined_map_short.launch but uses localize_and_navigate2_multi_agent.py for fleet multi goals + DDS planned-path exchange. -->
<launch>

  <param name="map_name" value="/navigation_map" />
  <param name="camera_inverted" type="bool" value="false" />

  <arg name="patrol" default="false" />

  <param name="alpha1" value="0.8"/>
  <param name="alpha2" value="0.8"/>
  <param name="alpha3" value="0.8"/>
  <param name="alpha4" value="0.8"/>
  <param name="z_hit"  value="0.95"/>
  <param name="z_rand" value="0.05"/>
  <param name="sigma_hit" value="0.01"/>

  <param name="cruising_velocity" value="0.40"/>

  <param name="kpx" value="2.0"/>
  <param name="kpy" value="2.0"/>
  <param name="kdx" value="1.5"/>
  <param name="kdy" value="1.5"/>

  <arg name="social" default="false"/>
  <param name="use_social_astar" value="$(arg social)"/>

  <node name="occupancy_grid_node" pkg="mattbot_navigation" type="occupancy_grid_mapper.py" output="screen">
  </node>

  <node name="navigator_node" pkg="mattbot_navigation" type="localize_and_navigate2_multi_agent.py" output="screen">
  </node>

  <node name="patrol_node" pkg="mattbot_navigation" type="patrol.py" output="screen" if="$(arg patrol)">
  </node>

</launch>
