<!-- localize_and_navigate_combined_map_tall.launch -->
<launch>

  <param name="map_name" value="/navigation_map" />
  <param name="camera_height" type="double" value="0.7858125" />
  <param name="total_height" type="double" value="0.942975" />
  <param name="camera_inverted" type="bool" value="true" />
  <param name="is_test" type="bool" value="true" />

  <!-- Launch the occupancy grid mapper -->
  <node name="occupancy_grid_node" pkg="mattbot_navigation" type="occupancy_grid_mapper.py" output="screen">
    
  </node>

</launch>
